body {
    background: #BBBBBB;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    margin-top: 25px;
}

#buttons button {
    width: 150px;
    font-size: 36px;
    margin-left: 400px;
    border-radius: 10px;
}

#informationBlock {
    margin-bottom: 15px;
}

#informationBlock span {
    font-weight: bold;
}

#informationBlock div {
    display: inline;
    margin-right: 125px;
    margin-left: 125px;
    border-radius: 10px;
    padding: 5px;
}

#warnings {
    background: #CC0033;
}

#counter {
    background: #669900;
}

#timer {
    background: #FFCC33;
}

#mainBlock {
    overflow: auto;
    background: #222222;
    font-size: 20px;
    height: 500px;
    width: 1500px;
    border-radius: 10px;
    margin-bottom: 10px;
}

#mainBlock div {
    margin: 10px;
    background: #FFCC33;
    border-radius: 10px;
    padding: 5px;
}