body {
    background: #BBBBBB;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

#buttons button {
    width: 100px;
    font-size: 20px;
    margin-left: 100px;
}

#informationBlock {
    margin-bottom: 10px;
}

#informationBlock span {
    font-weight: bold;
}

#informationBlock div {
    display: inline;
    margin-right: 13px;
    border-radius: 10px;
    padding: 5px;
}

#warnings {
    background: #CC0033;
}

#counter {
    background: #669900;
}

#timer {
    background: #FFCC33;
}

#mainBlock {
    overflow: auto;
    background: #222222;
    height: 200px;
    width: 490px;
    border-radius: 10px;
    margin-bottom: 10px;
    //border: 2px solid #000000;
}

#mainBlock div {
    margin: 10px;
    background: #FFCC33;
    border-radius: 10px;
    padding: 5px;
}